<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>单位管理</title>
    <link href="../../Script/layui/css/layui.css" rel="stylesheet" type="text/css" />
    <link href="../../Script/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/public.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/UnitManage/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wrap_module">
        <div class="list">
            <div class="input_box">
                <input type="text" id="searchUnit" class="search fontSize16" placeholder="搜索联网单位名称">
                <button class="search_btn" onclick="getAllUnitData();"></button>
            </div>
            <ul id="unitList" class="fontSize14 unit_list scrollbar-inner">
                <!--<li>台州政府</li>-->
                <!--<li>上海跨国采购中心办公室</li>-->
                <!--<li>上海杉达大学嘉善校区</li>-->
                <!--<li>上海杉达大学39号男生公寓</li>-->
                <!--<li>台州政府</li>-->
                <!--<li>上海跨国采购中心办公室</li>-->
                <!--<li>上海杉达大学嘉善校区</li>-->
                <!--<li>上海杉达大学39号男生公寓</li>-->
                <!--<li>台州政府</li>-->
                <!--<li>上海跨国采购中心办公室</li>-->
                <!--<li>上海杉达大学嘉善校区</li>-->
                <!--<li>上海杉达大学39号男生公寓</li>-->
                <!--<li>台州政府</li>-->
                <!--<li>上海跨国采购中心办公室</li>-->
                <!--<li>上海杉达大学嘉善校区</li>-->
                <!--<li>上海杉达大学39号男生公寓</li>-->
                <!--<li>台州政府</li>-->
                <!--<li>上海跨国采购中心办公室</li>-->
                <!--<li>上海杉达大学嘉善校区</li>-->
                <!--<li>上海杉达大学39号男生公寓</li>-->
                <!--<li>台州政府</li>-->
                <!--<li>上海跨国采购中心办公室</li>-->
                <!--<li>上海杉达大学嘉善校区</li>-->
                <!--<li>上海杉达大学39号男生公寓</li>-->
                <!--<li>台州政府</li>-->
                <!--<li>上海跨国采购中心办公室</li>-->
                <!--<li>上海杉达大学嘉善校区</li>-->
                <!--<li>上海杉达大学39号男生公寓</li>-->
                <!--<li>台州政府</li>-->
                <!--<li>上海跨国采购中心办公室</li>-->
            </ul>
        </div>
        <div class="arrow_btn" id="arrowBtn"></div>
        <div class="content">
            <iframe id="contFrame" class="contFrame" src="unitData.html" frameborder="0"></iframe>
        </div>
    </div>
</body>
<script src="../../Script/jquery-1.11.0.js"></script>
<script src="../../Script/public.js"></script>
<script src="../../Script/layui/layui.js"></script>
<script src="../../Script/layer/layer.js"></script>
<script src="../../Script/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="../../Script/SuperSlide/jquery.SuperSlide.2.1.1.js"></script>
<script src="../../Script/My97DatePicker/WdatePicker.js"></script>

<script type="text/javascript">
var tableId = ['extinguisher', 'maintenanceProgress', 'inspectProgress'];
var tableIndex = 0;
$(function() {
    getAllUnitData();

    //绑定事件
    bindEvent();

});

//获取所有联网单位
function getAllUnitData(){
    var isAsync = true,lid = 0;
    if (isAsync)
        lid = layer.msg('正在加载...', { icon: 16, shade: [0.1, '#fff'], time: 90000 });
    $.ajax({
        type: "get",
        cache: false,
        url: _serverIp + "/front/couplet/getUnits",
        data:'unitName='+$('#searchUnit').val(),
        success: function (data) {
            //console.log(data);
            if (data.success == true) {
                var msg = data.obj;

                showUnitListContent(msg);

            }
        },
        complete: function () {
            if (isAsync){
                layer.close(lid);
            }
        }
    });
}

function showUnitListContent(msg){
    var allhtml = "";
    for(var i = 0 ; i < msg.length;i++){
        allhtml+='<li title="'+msg[i].unitName+'" id="'+msg[i].unitId+'" data-type="wdsfdsffsd" class="li_unit" >'+msg[i].unitName+'</li>'
    }
    $('#unitList').html(allhtml||"<li>暂无单位接入</li>");
//    $('.block_header').eq(0).click();
    if(GetQuery('unitid')){
        $('#unitList #'+GetQuery('unitid')).click();
        $(".list .unit_list").animate({scrollTop:$("#"+GetQuery('unitid')).offset().top - 40},100);//滚动条滚动到相应位置
    }
    else{
        $('#unitList .li_unit').eq(0).click();
    }
}


//绑定事件
function bindEvent() {
    //搜索
    $('#searchUnit').unbind(" input propertychange").on(" input propertychange",function(){
        var thisValue = $('#searchUnit').val();
        var count=0;
        if(thisValue == ""){
            $('#unitList>li').show()
        }
        else{
            $('#unitList>li').hide()
                    .filter(function(index){
//                            console.log($(this).text().indexOf(thisValue));
                        if($(this).text().indexOf(thisValue) >= 0){
                            count = 1;
                            $(this).show();
                            return this;
                        }
                    }).show();
        }
    });
    //单位列表
    $('#unitList').delegate('li', 'click', function() {
        $('#unitList li.active').removeClass('active');
        $(this).addClass('active');
        $('#contFrame').attr('src','unitData.html?unitid='+$(this).attr('id'))
    });
    //单位列表箭头按钮
    $('#arrowBtn').click(function() {
        $('.wrap_module').toggleClass('no_list');
    });
}
</script>

</html>