    <!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>历史记录</title>
    <link href="../../Script/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="../../Script/layer/skin/default/layer.css" rel="stylesheet" type="text/css"/>
    <link href="../../Script/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css"/>
    <link href="../../Script/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css"/>

    <link href="../../Content/css/public.css" rel="stylesheet" type="text/css"/>
    <link href="../../Content/css/HistoryNote/History_Index.css" rel="stylesheet" type="text/css"/>

    <script src="../../Script/jquery-1.11.0.js"></script>
    <script src="../../Script/Echarts/echarts.min.js"></script>
    <script src="../../Script/layui/layui.js"></script>
    <script src="../../Script/layer/layer.js"></script>
    <script src="../../Script/SuperSlide/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../../Script/My97DatePicker/WdatePicker.js"></script>
    <script src="../../Script/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../../Script/public.js"></script>

    <style type="text/css">
        section{
            padding: 0!important;
            background: url(../../Content/images/AggregateAnalysis/bigbox.png) center center / 100% 100% no-repeat;
        }
    </style>
</head>
<body>
    <div class="wrap_module">
        <header>
            <form class="layui-form" action="" autocomplete="off">    
                <!--下拉框-->      
                <div class="layui-inline layui-bg-cyan" id="unitList">
                    <div class="layui-input-inline">
                        <select name="modules" lay-verify="required" lay-search="" id="unitListSelect">

                            <!--<option value="1">建筑类型</option>-->
                            <!--<option value="2">建筑类型</option>-->
                            <!--<option value="3">建筑类型</option>-->
                        </select>
                    </div>
                </div>


                <input class="submitBtn" id="btnSearch" type="button" value="查询" style="display: none;">
            </form>
        </header>

        <section>
            <iframe id="frameCont" src="" frameborder="0" width="100%" height="100%" scrolling="0" ></iframe>
        </section>
    </div>

</body>

<script type="text/javascript">

    $(function(){
        getAllUnitData();
        clickevent();
    });

    //获取所有联网单位
    function getAllUnitData(){
        var isAsync = true,lid = 0;
        if (isAsync)
            lid = layer.msg('正在加载...', { icon: 16, shade: [0.1, '#fff'], time: 90000 });
        $.ajax({
            type: "get",
            url: _serverIp + "/front/couplet/getUnits",
            data:'unitName=',
            success: function (data) {
                //console.log(data);
                if (data.success == true) {
                    var msg = data.obj;
                    var option = '<option value="">--选择单位--</option>';
                    for(var i = 0 ; i < msg.length;i++){
                        option +='<option  value="'+msg[i].unitId+'" '+(i == 0?"select":"")+'>'+msg[i].unitName+'</option>'
                    }
                    $('#unitListSelect').html(option);
                    loadLayuiForm();

                    setTimeout(function(){
                        $('.submitBtn').show();
                        $('.submitBtn').click();
                    },500)
                }
            },
            complete: function () {
                if (isAsync){
                    layer.close(lid);
                }
            }
        });
    }



    function clickevent(){
        $('.submitBtn').click(function(){
            var unitid = $('#unitList').find('dd.layui-this').attr('lay-value')||"";
//            console.log(unitid)
            $('#frameCont').attr('src','HistoryIndex.html?unitid='+unitid+"&buildid=")
        });
    }

</script>

</html>