html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: none;
}

.layui-layer {
    background-color: rgba(0, 0, 0, 0) !important;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: #8BA8CF;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #8BA8CF;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #8BA8CF;
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: #8BA8CF;
    opacity: 1;
}

.wrapper {
    width: 100%;
    height: 100%;
    /*padding: 0 20px 5px;*/
    position: relative;
}

.list {
    width: 255px;
    height: 100%;
    float: left;
}

.content {
    width: calc(100% - 255px);
    height: 100%;
    float: left;
}

.input_box {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    background: rgba(13, 74, 128, 1);
    position: relative;
}

.search {
    width: 100%;
    height: 30px;
    color: #8BABD1;
    border: none;
    border-bottom: 1px solid #38658C;
    padding-left: 10px;
    padding-right: 30px;
    background: none;
    display: block;
    outline: none;
}

.search_btn {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../../images/NetInfoStatistic/btSearch.png);
    background-position: 3px 3px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}

.list .unit_list {
    width: 100%;
    height: calc(100% - 40px);
    background: rgba(3, 31, 55, 0.2);
    overflow: auto;
}

.list li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-left: 5px solid transparent;
    padding-left: 16px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list li.active,
.list li:hover {
    font-size: 16px;
    border-left: 5px solid #258CB7;
    background: #194260;
}

.arrow_btn{
    width: 15px;
    height: 219px;
    background: url('../../images/WeibaoInspect/arrow_icon.png');
    position: absolute;
    top: 30%;
    left: calc(255px + 2%);
    cursor: pointer;
}
.no_list .list{
    display: none;
}
.no_list .content{
    width: 100%;
}
.no_list .arrow_btn{
    left: 2%;
}
.contFrame {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1600px) {
    .wrapper {
        /*padding: 0 10px 5px;*/
    }
    .list li.active,
    .list li:hover {
        font-size: 14px;
    }
    .list {
        width: 210px;
    }
    .arrow_btn{
        left: calc(210px + 2%);
    }
    .content {
        width: calc(100% - 210px);
    }
}