<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title></title>

    <link href="../../Content/css/WeChat/reset.css" rel="stylesheet" type="text/css" />
    <!--weui.css-->
    <link href="../../Script/WeChat/jqueryWeChatUI/lib/weui.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Script/WeChat/jqueryWeChatUI/css/jquery-weui.min.css" rel="stylesheet" type="text/css" />
    <!--self css-->
    <link href="../../Content/css/WeChat/login.css" rel="stylesheet" type="text/css" />

    <!--weui.js-->
    <script src="../../Script/WeChat/jqueryWeChatUI/lib/zepto.js"></script>
    <script src="../../Script/WeChat/jqueryWeChatUI/js/jquery-weui.min.js"></script>
    <!--remove300ms.js-->
    <script src="../../Script/WeChat/jqueryWeChatUI/lib/fastclick.js"></script>
    <!--selfsite public-->
    <script src="../../Script/WeChat/public.js"></script>
</head>

<body>
    123xt
</body>

</html>