<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>单位详细资料</title>
    <link href="../../Script/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="../../Script/layer/skin/default/layer.css" rel="stylesheet" type="text/css"/>
    <link href="../../Script/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css"/>

    <link href="../../Content/css/public.css" rel="stylesheet" type="text/css"/>
    <link href="../../Content/css/Home/UnitDetail.css" rel="stylesheet" type="text/css"/>

    <script src="../../Script/jquery-1.11.0.js"></script>
    <script src="../../Script/public.js"></script>
    <script src="../../Script/Echarts/echarts.min.js"></script>
    <script src="../../Script/layui/layui.js"></script>
    <script src="../../Script/layer/layer.js"></script>
    <script src="../../Script/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../../Script/SuperSlide/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../../Script/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
	<div class="wrapper">
        <nav>
            <div class="navbt" labiframe="unit_frame1.html">单位信息</div>
            <div class="navbt" labiframe="unit_frame2.html">报警信息</div>
            <div class="navbt" labiframe="unit_frame3.html">位置信息</div>
            <div class="navbt" labiframe="unit_frame4.html">传输设备</div>
            <div class="navbt" labiframe="unit_frame5.html">巡检记录</div>
            <!--<div class="navbt" labiframe="unit_frame6.html">维保单位</div>-->
        </nav>

        <section>
            <iframe id="framecont" src="unit_frame1.html" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
            
        </section>
    </div>
</body>

<script type="text/javascript">
    var _unitid = GetQuery('unitid')
    $(function(){
        $('.navbt').click(function(){
            $(this).addClass('active').siblings().removeClass('active');
            var src = $(this).attr('labiframe');
            $('#framecont').attr('src',src+'?unitid='+_unitid+'&unitname='+escape(GetQuery("unitname")));
        });
        $('.navbt').eq(0).click();

    });
</script>
</html>