<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>单位详细资料 - 巡检记录</title>
    <link href="../../Script/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="../../Script/layer/skin/default/layer.css" rel="stylesheet" type="text/css"/>
    <link href="../../Script/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css"/>

    <link href="../../Content/css/public.css" rel="stylesheet" type="text/css"/>
    <link href="../../Content/css/Home/UnitDetail.css" rel="stylesheet" type="text/css"/>

    <script src="../../Script/jquery-1.11.0.js"></script>
    <script src="../../Script/public.js"></script>
    <script src="../../Script/Echarts/echarts.min.js"></script>
    <script src="../../Script/layui/layui.js"></script>
    <script src="../../Script/layer/layer.js"></script>
    <script src="../../Script/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../../Script/SuperSlide/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../../Script/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
    <!--table start-->
    <div class="table_box"  style="height: 99%;padding: 0 1%">
        <div class="list_table">
            <div class="table_header">
                <table>
                    <colgroup>
                        <col width="5%">
                        <col width="30%">
                        <col width="30%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>巡检时间</th>
                            <th>回应时间</th>
                            <th>结果</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table_content scrollbar-inner">
                <table cellpadding="0" cellspacing="0" class="tbody">
                    <colgroup>
                        <col width="5%">
                        <col width="30%">
                        <col width="30%">
                        <col width="25%">
                    </colgroup>
                    <tbody id="mainContentTbody">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="wrap_page">
            <div id="demo7"></div>
            <img src="../../Content/images/Public/exportBT.png" class="btn_export">
        </div>
    </div>
    <!--table end-->
</body>
<script type="text/javascript">
    var _XCData={
        pageNumber:1,
        pageSize:20,
        status:"",
        startDate:"",
        endDate:"",
        keyword:"",
        unitId:GetQuery('unitid')
    };
    var _ifXCUsed = 0;
	$(function(){
        getXCListData();//获取巡查列表数据
	});

    ///////////////获取巡查列表数据
    function getXCListData(){
        var isAsync = true,lid = 0;
        if (isAsync)
            lid = layer.msg('正在加载...', { icon: 16, shade: [0.1, '#fff'], time: 90000 });
        $.ajax({
            type: "get",
            url: _serverIp + "/front/maintenance/getInspectTaskList",
            data:_XCData,
            success: function (data) {
                //console.log(data);
                if (_ifXCUsed == 0) {
                    layerPage(data.total);
                    _ifXCUsed = 1;
                }

                getXCTable(data); //获取巡查表格数据
            },
            complete: function () {
                if (isAsync){
                    layer.close(lid);
                }
            }
        });
    }

    function getXCTable(msg){
        var data = msg.list;
        var html = '';
        for(var i = 0 ; i < data.length;i++){
            html += '<tr id="'+data[i].id+'">' +
                    '<td>'+(msg.startRow++)+'</td>' +
                    '<td>'+data[i].planTime+'</td>' +
                    '<td>'+data[i].inspectTime+'</td>' +
                    '<td class="'+(data[i].isInspect == "已巡查"?"":"red")+'">'+data[i].isInspect+'</td>'+
                    '</tr>'
        }
        $('#mainContentTbody').html(html||"<tr><td colspan='4'>暂无数据...</td></tr>");
        $('#mainContentTbody tr td').each(function(){$(this).attr('title',$(this).text())})
    }


    function layerPage(count,index){
        layui.use(['laypage', 'layer'], function() {
            var laypage = layui.laypage
                    , layer = layui.layer;
            laypage.render({
                elem: 'demo7'
                ,count: count
                ,limit:20
                ,prev: '<em>&lt;</em>'
                ,next: '<em>&gt;</em>'
                ,layout: ['count','limit', 'prev', 'page', 'next',  'refresh']
                ,jump: function(obj,isNew){
                    if(!isNew){
//                      console.log(obj)
                        _XCData.pageNumber = obj.curr;
                        _XCData.pageSize = obj.limit;
                        getXCListData();
                    }
                }
            });
        });
    }
</script>
</html>