<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gw.mapper.UtEqFacilityMapper" >
  <resultMap id="BaseResultMap" type="com.gw.mapper.entity.UtEqFacility" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="EqName" property="eqname" jdbcType="NVARCHAR" />
    <result column="EqPosition" property="eqposition" jdbcType="NVARCHAR" />
    <result column="EqSystem_type" property="eqsystemType" jdbcType="NVARCHAR" />
    <result column="UseTime" property="usetime" jdbcType="TIMESTAMP" />
    <result column="DetectoNum" property="detectonum" jdbcType="INTEGER" />
    <result column="ControlerNum" property="controlernum" jdbcType="INTEGER" />
    <result column="ManulAlarmbuttonNum" property="manulalarmbuttonnum" jdbcType="INTEGER" />
    <result column="ElectricalControldeviceNum" property="electricalcontroldevicenum" jdbcType="INTEGER" />
    <result column="WaterSupplypipeType" property="watersupplypipetype" jdbcType="NVARCHAR" />
    <result column="InletPipeNum" property="inletpipenum" jdbcType="INTEGER" />
    <result column="InletPipeDiameter" property="inletpipediameter" jdbcType="DOUBLE" />
    <result column="PoolCapacity" property="poolcapacity" jdbcType="DOUBLE" />
    <result column="PoolPosition" property="poolposition" jdbcType="NVARCHAR" />
    <result column="TankCapacity" property="tankcapacity" jdbcType="DOUBLE" />
    <result column="TankPosition" property="tankposition" jdbcType="NVARCHAR" />
    <result column="OtherWaterSupply" property="otherwatersupply" jdbcType="DOUBLE" />
    <result column="OtherWaterStituation" property="otherwaterstituation" jdbcType="NVARCHAR" />
    <result column="PumproomPosition" property="pumproomposition" jdbcType="NVARCHAR" />
    <result column="PumpNum" property="pumpnum" jdbcType="INTEGER" />
    <result column="PumpFlow" property="pumpflow" jdbcType="DOUBLE" />
    <result column="PumpLift" property="pumplift" jdbcType="DOUBLE" />
    <result column="OutdoorHydrantPipe_type" property="outdoorhydrantpipeType" jdbcType="NVARCHAR" />
    <result column="OutdoorHydrantNum" property="outdoorhydrantnum" jdbcType="INTEGER" />
    <result column="OutdoorHydrantPipeDiameter" property="outdoorhydrantpipediameter" jdbcType="DOUBLE" />
    <result column="IndoorHydrantPipeType" property="indoorhydrantpipetype" jdbcType="NVARCHAR" />
    <result column="IndoorHydrantNum" property="indoorhydrantnum" jdbcType="INTEGER" />
    <result column="IndoorHydrantPipeDiameter" property="indoorhydrantpipediameter" jdbcType="DOUBLE" />
    <result column="PumpReceiverNum" property="pumpreceivernum" jdbcType="INTEGER" />
    <result column="PumpReceiverPosition" property="pumpreceiverposition" jdbcType="NVARCHAR" />
    <result column="PressurePumpNum" property="pressurepumpnum" jdbcType="INTEGER" />
    <result column="PressurePumpFlow" property="pressurepumpflow" jdbcType="INTEGER" />
    <result column="PressurePumpLift" property="pressurepumplift" jdbcType="DOUBLE" />
    <result column="PressureTankCapacity" property="pressuretankcapacity" jdbcType="DOUBLE" />
    <result column="FireHoseNum" property="firehosenum" jdbcType="INTEGER" />
    <result column="AlarmValveNum" property="alarmvalvenum" jdbcType="INTEGER" />
    <result column="AlarmValvePosition" property="alarmvalveposition" jdbcType="NVARCHAR" />
    <result column="FlowIndicatorNum" property="flowindicatornum" jdbcType="INTEGER" />
    <result column="FlowIndicatorPosition" property="flowindicatorposition" jdbcType="NVARCHAR" />
    <result column="NozzleNum" property="nozzlenum" jdbcType="INTEGER" />
    <result column="ReliefPressureValveNum" property="reliefpressurevalvenum" jdbcType="INTEGER" />
    <result column="ReliefPressureValvePosition" property="reliefpressurevalveposition" jdbcType="NVARCHAR" />
    <result column="VerticalBlockNum" property="verticalblocknum" jdbcType="INTEGER" />
    <result column="SprayPumpNum" property="spraypumpnum" jdbcType="INTEGER" />
    <result column="SprayPumpFlow" property="spraypumpflow" jdbcType="DOUBLE" />
    <result column="SprayPumpLift" property="spraypumplift" jdbcType="DOUBLE" />
    <result column="SprayPumpPosition" property="spraypumpposition" jdbcType="NVARCHAR" />
    <result column="RainValveNum" property="rainvalvenum" jdbcType="INTEGER" />
    <result column="RainValvePositon" property="rainvalvepositon" jdbcType="NVARCHAR" />
    <result column="SprayNozzleNum" property="spraynozzlenum" jdbcType="INTEGER" />
    <result column="SprayNozzlePosition" property="spraynozzleposition" jdbcType="NVARCHAR" />
    <result column="ProtectionZoneNum" property="protectionzonenum" jdbcType="INTEGER" />
    <result column="ProtectionZoneCapacity" property="protectionzonecapacity" jdbcType="DOUBLE" />
    <result column="ProtectionZoneName" property="protectionzonename" jdbcType="NVARCHAR" />
    <result column="ProtectionZonePosition" property="protectionzoneposition" jdbcType="NVARCHAR" />
    <result column="ExtinguisherType" property="extinguishertype" jdbcType="NVARCHAR" />
    <result column="HandDevicePosition" property="handdeviceposition" jdbcType="NVARCHAR" />
    <result column="FacilityActionMode" property="facilityactionmode" jdbcType="NVARCHAR" />
    <result column="BottleBasePosition" property="bottlebaseposition" jdbcType="NVARCHAR" />
    <result column="SteelCylinderPositon" property="steelcylinderpositon" jdbcType="NVARCHAR" />
    <result column="OneSteelCylinderCapacity" property="onesteelcylindercapacity" jdbcType="DOUBLE" />
    <result column="SteelCylinderSpace" property="steelcylinderspace" jdbcType="DOUBLE" />
    <result column="FoamPumpNum" property="foampumpnum" jdbcType="INTEGER" />
    <result column="FoamPumpFlow" property="foampumpflow" jdbcType="DOUBLE" />
    <result column="FoamPumpLift" property="foampumplift" jdbcType="DOUBLE" />
    <result column="FoamValue" property="foamvalue" jdbcType="DOUBLE" />
    <result column="PowderTankPosition" property="powdertankposition" jdbcType="NVARCHAR" />
    <result column="SmokePreventionZoneNum" property="smokepreventionzonenum" jdbcType="INTEGER" />
    <result column="SmokePreventionZonePosition" property="smokepreventionzoneposition" jdbcType="NVARCHAR" />
    <result column="FanNum" property="fannum" jdbcType="INTEGER" />
    <result column="FanPosition" property="fanposition" jdbcType="NVARCHAR" />
    <result column="FanAirVolume" property="fanairvolume" jdbcType="DOUBLE" />
    <result column="TuyereSettingPosition" property="tuyeresettingposition" jdbcType="NVARCHAR" />
    <result column="DampersNum" property="dampersnum" jdbcType="INTEGER" />
    <result column="SmokeEmissionValveNum" property="smokeemissionvalvenum" jdbcType="INTEGER" />
    <result column="AirSupplyValve" property="airsupplyvalve" jdbcType="INTEGER" />
    <result column="FireDoorNum" property="firedoornum" jdbcType="INTEGER" />
    <result column="FireCurtainNum" property="firecurtainnum" jdbcType="INTEGER" />
    <result column="FireDoorPosition" property="firedoorposition" jdbcType="NVARCHAR" />
    <result column="FireCurtainPosition" property="firecurtainposition" jdbcType="NVARCHAR" />
    <result column="AmplifierPower" property="amplifierpower" jdbcType="DOUBLE" />
    <result column="SpareAmplifierPower" property="spareamplifierpower" jdbcType="DOUBLE" />
    <result column="SpeakerNum" property="speakernum" jdbcType="INTEGER" />
    <result column="BroadcastPartitionNum" property="broadcastpartitionnum" jdbcType="INTEGER" />
    <result column="BroadcastPartitionPosition" property="broadcastpartitionposition" jdbcType="NVARCHAR" />
    <result column="FirePhoneNum" property="firephonenum" jdbcType="INTEGER" />
    <result column="FirePhonePosition" property="firephoneposition" jdbcType="NVARCHAR" />
    <result column="ELIndicateDeviceNum" property="elindicatedevicenum" jdbcType="INTEGER" />
    <result column="FirePowerPosition" property="firepowerposition" jdbcType="NVARCHAR" />
    <result column="MainPowerIndependCabinet" property="mainpowerindependcabinet" jdbcType="INTEGER" />
    <result column="SparePowerTyoe" property="sparepowertyoe" jdbcType="NVARCHAR" />
    <result column="ExtinguisherPosition" property="extinguisherposition" jdbcType="NVARCHAR" />
    <result column="ExtinguisherConfigureType" property="extinguisherconfiguretype" jdbcType="NVARCHAR" />
    <result column="ExtinguisherProductDate" property="extinguisherproductdate" jdbcType="TIMESTAMP" />
    <result column="ChangeExtinguisherDate" property="changeextinguisherdate" jdbcType="TIMESTAMP" />
    <result column="ExtinguisherNum" property="extinguishernum" jdbcType="INTEGER" />
    <result column="FacilityServiceStatus" property="facilityservicestatus" jdbcType="INTEGER" />
    <result column="ProductUnitName" property="productunitname" jdbcType="NVARCHAR" />
    <result column="ProductUnitPhone" property="productunitphone" jdbcType="NVARCHAR" />
    <result column="MaintenanceUnitName" property="maintenanceunitname" jdbcType="NVARCHAR" />
    <result column="MaintenanceUnitPhone" property="maintenanceunitphone" jdbcType="NVARCHAR" />
    <result column="FacilityStatus" property="facilitystatus" jdbcType="INTEGER" />
    <result column="StatusDescribe" property="statusdescribe" jdbcType="NVARCHAR" />
    <result column="StatusChangeDate" property="statuschangedate" jdbcType="TIMESTAMP" />
    <result column="FireAlarmSysGraph" property="firealarmsysgraph" jdbcType="LONGVARBINARY" />
    <result column="SupplyWaterSysGraph" property="supplywatersysgraph" jdbcType="LONGVARBINARY" />
    <result column="OutdoorHydrantGraph" property="outdoorhydrantgraph" jdbcType="LONGVARBINARY" />
    <result column="IndoorHydrantGraph" property="indoorhydrantgraph" jdbcType="LONGVARBINARY" />
    <result column="AutomaticSprinklerSysGraph" property="automaticsprinklersysgraph" jdbcType="LONGVARBINARY" />
    <result column="WaterSprayExtinguishingGraph" property="watersprayextinguishinggraph" jdbcType="LONGVARBINARY" />
    <result column="GasExtinguishingGraph" property="gasextinguishinggraph" jdbcType="LONGVARBINARY" />
    <result column="FoamExtinguishingGraph" property="foamextinguishinggraph" jdbcType="LONGVARBINARY" />
    <result column="PowerExtinguishingGraph" property="powerextinguishinggraph" jdbcType="LONGVARBINARY" />
    <result column="SmokeSysGraph" property="smokesysgraph" jdbcType="LONGVARBINARY" />
    <result column="FireBroadcastSysGraph" property="firebroadcastsysgraph" jdbcType="LONGVARBINARY" />
    <result column="ELIndicateDeviceSysGraph" property="elindicatedevicesysgraph" jdbcType="LONGVARBINARY" />
  </resultMap>
</mapper>