<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>历史记录-设备离在线情况弹窗</title>
    <link href="../../../Script/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="../../../Script/layer/skin/default/layer.css" rel="stylesheet" type="text/css"/>
    <link href="../../../Script/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css"/>
    <link href="../../../Script/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css"/>

    <link href="../../../Content/css/public.css" rel="stylesheet" type="text/css"/>
<!--     <link href="../../../Content/css/NetInfoStatistic/Index.css" rel="stylesheet" type="text/css"/>
 -->    <link href="../../../Content/css/HistoryNote/History14_MsgWindow.css" rel="stylesheet" type="text/css"/>

    <link href="../../../Script/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" type="text/css"/>
    <script src="../../../Script/My97DatePicker/WdatePicker.js"></script>
    <script src="../../../Script/jquery-1.11.0.js"></script>
    <script src="../../../Script/Echarts/echarts.min.js"></script>
    <script src="../../../Script/layui/layui.js"></script>
    <script src="../../../Script/layer/layer.js"></script>
    <script src="../../../Script/public.js"></script>
    <script src="../../../Script/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../../../Script/SuperSlide/jquery.SuperSlide.2.1.1.js"></script>
    <script src="../../../Script/My97DatePicker/WdatePicker.js"></script>
</head>

<body>



     <!--设备离在线情况 弹窗-->
    <div id="IsOnlineBox">

        <!--选择框Div start-->
        <div class="top-search">
             <form class="layui-form" action="" autocomplete="off">
                <input class="selectTime timeStart" id="sData2" onfocus="var d5222 = $dp.$('eData2'); WdatePicker({ skin: 'whyGreen', onpicked: function () { d5222.focus(); }, maxDate: '#F{$dp.$D(\'eData2\')||\'%y-%M-%d\'}' })" />
            -
                <input class="selectTime timeEnd" id="eData2" onfocus="WdatePicker({ skin: 'whyGreen', minDate: '#F{$dp.$D(\'sData2\')}', maxDate: '%y-%M-%d' })" />

                <input class="submitBtn" type="button" value="查询">
            </form>
        </div>
        <!--选择框Div end-->

        <div class="online_topDiv">
            <div class="inline_fir">
                <div class="name">所属单位</div>
                <div class="cont" id="unitName"></div>
            </div>
            <div class="online_sec">
                <div class="name">异常状态次数</div>
                <div class="cont" id="exceptionCount">0</div>
                <div class="name" >异常时间</div>
                <div class="cont" id="exceptionTime" style="padding-right: 0;">0</div>
            </div>
            <div class="online_sec">
                <div class="name">异常率</div>
                <div class="cont" id="exceptionRate" >0.00%</div>
            </div>
        </div>

        <div class="online_ContDiv">
            <div class="title fontSize16">状态记录</div>

            <!--table start-->
            <div class="table_box">
                <div class="list_table">
                    <div class="table_header">
                        <table>
                            <colgroup>
                                <col width="15%">
                                <col width="38%">
                                <col width="47%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>状态</th>
                                <th>时间</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table_content scrollbar-inner">
                        <table cellpadding="0" cellspacing="0" class="tbody">
                            <colgroup>
                                <col width="15%">
                                <col width="38%">
                                <col width="47%">
                            </colgroup>
                            <tbody id="mainContentTbody">

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="wrap_page">
                    <div id="demo7"></div>
                </div>

            </div>
            <!--table end-->
        </div>
    </div>


</body>
<script type="text/javascript">
    var _ifUsed = 0; //调用page方法的判断
    var _unitid = GetQuery('unitid');
    var _id = GetQuery('id');
    var _data = {
        id:_id,
        startDate:$('#sData2').val(),
        endDate:$('#eData2').val(),
        pageNumber:1,
        pageSize:10,
        unitId:_unitid
    };

    $(function(){
        getDeviceInfoData(); //设备离在线情况
        getDeviceStatusListData(); //获取单个设备状态记录
        clickevent();
    });

    //设备离在线情况
    function getDeviceInfoData(){
        var isAsync = true,lid = 0;
        if (isAsync)
            lid = layer.msg('正在加载...', { icon: 16, shade: [0.1, '#fff'], time: 90000 });
        $.ajax({
            type: "get",
            url: _serverIp + "/front/history/getDeviceInfo",
            data:_data,
            success: function (data) {
                //console.log(data);
                if(data.success = true){
                    $('.online_topDiv .cont').each(function(){
                        var key = $(this).attr('id');
                        $(this).text((data.obj[key]||"-"));
                    })
                    $("#exceptionCount").text((data.obj['total']-data.obj['exceptionCount'])||0);
                    var abnormalRate = 1-data.obj['exceptionCount']/data.obj['total'] || 0 ;
                    $("#exceptionRate").text(Number(abnormalRate*100).toFixed(2)+"%");
                }
            },
            complete: function () {
                if (isAsync){
                    layer.close(lid);
                }
            }
        });
    }

    //获取单个设备状态记录
    function getDeviceStatusListData(){
        var isAsync = true,lid = 0;
        if (isAsync)
            lid = layer.msg('正在加载...', { icon: 16, shade: [0.1, '#fff'], time: 90000 });
        $.ajax({
            type: "get",
            url: _serverIp + "/front/history/getDeviceStatusList",
            data:_data,
            success: function (data) {
                //console.log(data);
                if (_ifUsed == 0) {
                    layerPage(data.total);
                    _ifUsed = 1;
                }
                showAlarmListContent(data);
            },
            complete: function () {
                if (isAsync){
                    layer.close(lid);
                }
            }
        });
    }

    function showAlarmListContent(msg){
        var data = msg.list;
        var html = "";
        for(var i = 0 ; i < data.length ; i++){
            html +='<tr><td>'+(msg.startRow++)+'</td><td class="'+(data[i].coupletKey == 1?"":"red")+'">'+(data[i].coupletKey == 1?"在线":"离线")+'</td><td>'+data[i].coupletValue+'</td></tr>'
        }
        $('#mainContentTbody').html(html||"<tr><td colspan='3'>暂无数据...</td></tr>");
        $('#mainContentTbody tr>td').each(function(){$(this).attr('title',$(this).text())})
    }

    function clickevent(){

        //搜索
        $('.submitBtn').click(function() {
            _ifUsed = 0;
            _data = {
                id:_id,
                startDate:$('#sData2').val(),
                endDate:$('#eData2').val(),
                pageNumber:1,
                pageSize:20,
                unitId:_unitid
            };
            getDeviceInfoData(); //设备离在线情况
            getDeviceStatusListData(); //获取单个设备状态记录
        });
    }


    function layerPage(count){
        layui.use(['laypage', 'layer'], function() {
            var laypage = layui.laypage
                    , layer = layui.layer;
            laypage.render({
                elem: 'demo7'
                ,count: count
                ,limit:20
                ,prev: '<em>&lt;</em>'
                ,next: '<em>&gt;</em>'
                ,layout: ['count','limit', 'prev', 'page', 'next',  'refresh']
                ,jump: function(obj,isNew){
                    if (!isNew) {
                        _data.pageNumber = obj.curr;
                        _data.pageSize = obj.limit;
                        //console.log(_curr)
                        getDeviceStatusListData(); //调用接口获取数据
                    }

                }
            });
        });
        //完整功能

    }
</script>

</html>